mega-sync & # Cloud
autokey-gtk & # Abbreviations
blueman-applet & # Bluetooth devices
sxhkd & # Shortcuts
redshift & # Night-shift
set_wallpaper -r & # Desktop background
xautolock -time 11 -notifier notify-send -notify 120 -locker ~/.scripts/xlock & # Autolock
xfce4-power-manager & # Control screen brightness, power management
sleep 2 && dwmblocks & # Status bar
mpd & # Music Player Daemon
dunst & # Notifications
safeeyes -e & # Break Reminder
# fusuma & # Touchpad Gestures
# aw-server & aw-watcher-afk & aw-watcher-window & # Time-tracker
