mega-sync & # Cloud
autokey-gtk & # Abbreviation
blueman-applet & # Bluetooth devices
# setxkbmap -layout us,cz -variant ,qwerty -option grp:caps_escape,grp:win_space_toggle & # Keyboard layouts
sxhkd & # Shortcuts
#stretchly & # Break Reminder
redshift & # Night-shift
~/.scripts/wallpaper & # Desktop background
xautolock -time 11 -notifier notify-send -notify 120 -locker ~/.scripts/xlock & # Autolock
xfce4-power-manager & # Control screen brightness, power management
sleep 5 && dwmblocks & # Status bar
mpd & # Music Player Daemon
dunst & # Notifications
safeeyes -e & # Break Reminder
joplin-desktop & # Notifications for joplin
