<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>2DD95CE5-A021-4CDF-8D66-517DB76FC18F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>yt</string>
			<key>text</key>
			<string>Open Youtube</string>
			<key>url</key>
			<string>https://www.youtube.com/feed/subscriptions</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2EF7FB54-1D63-491A-806D-4E1824AEBFC0</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>lp</string>
			<key>text</key>
			<string>LastPass</string>
			<key>url</key>
			<string>https://lastpass.com/?ac=1&amp;lpnorefresh=1</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>596D6F0B-C8C2-4D43-8B07-A43CED6952DA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>roam</string>
			<key>text</key>
			<string>Roam</string>
			<key>url</key>
			<string>https://roamresearch.com/#/app/patrik-trefil/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>77A058D9-8E23-4957-B50D-6B796EF66DDD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>netflix</string>
			<key>text</key>
			<string>Netflix</string>
			<key>url</key>
			<string>https://www.netflix.com/browse</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7FE4D0AA-0290-4E1C-8350-7EC3BE5DEE42</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>messenger</string>
			<key>text</key>
			<string>Messenger</string>
			<key>url</key>
			<string>https://www.messenger.com/t/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9C36CDCA-5B30-4F08-82D1-46F740A6AA0E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>whatsapp</string>
			<key>text</key>
			<string>WhatsApp</string>
			<key>url</key>
			<string>https://web.whatsapp.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B650CDEF-5E78-46D6-BD2D-09E15AD06429</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>spotify.web</string>
			<key>text</key>
			<string>Open Spotify Web Player</string>
			<key>url</key>
			<string>https://open.spotify.com/browse/featured</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B7C816B5-1C61-40ED-A26C-CC4155BD30E7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>fb</string>
			<key>text</key>
			<string>Facebook</string>
			<key>url</key>
			<string>https://www.facebook.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BFC91E17-263D-4BB7-8815-78AA8A01CB16</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>yt</string>
			<key>text</key>
			<string>Search YouTube for "{query}"</string>
			<key>url</key>
			<string>https://www.youtube.com/results?search_query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C479FC40-31A5-4B97-9057-CBF00732BC21</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>linkedin</string>
			<key>text</key>
			<string>LinkedIn</string>
			<key>url</key>
			<string>https://www.linkedin.com/feed/</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
