[Desktop Entry]
Name=Tutanota Desktop
Comment=The desktop client for Tutanota, the secure e-mail service.
Exec="/opt/tutanota-desktop/tutanota-desktop" %U
Terminal=false
Type=Application
Icon=tutanota-desktop.png
StartupWMClass=tutanota-desktop
MimeType=x-scheme-handler/mailto;
Categories=Network;
X-Tutanota-Version=3.80.4
TryExec=/opt/tutanota-desktop/tutanota-desktop